<html>

<head>
  <script type="text/javascript">
    function generateExpiryDate()
    {
            var expDate=document.getElementById('month').value + '/' +
            document.getElementById('year').value;
            document.getElementById('expiryDate').value= expDate
    }
	  window.history.forward();
	  function noBack() { window.history.forward(); }
  </script>

  <title>Online ABC</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#03a6f3">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  {% load static %}
  <link rel="stylesheet" href="{%static 'ABC/styles1.css'%}">

    <link rel="stylesheet" href="{%static 'ABC/bootstrap.min.css'%}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{%static 'ABC/owl.carousel.min.css'%}">
</head>
<body onload="noBack();"
	onpageshow="if (event.persisted) noBack();" onunload="">
    <header>
        <div class="header-top">
            <div class="container">
                <div class="row">
                  <!--  <div class="col-md-3"><a href="#" class="web-url">www.onlineabc.com</a></div>
                    <div class="col-md-6">
                        <h5>Free Shipping Over $99 + 3 Free Samples With Every Order</h5></div>
                    <div class="col-md-3">
                        <span class="ph-number">Call : 800 1234 5678</span>
                    </div>-->
                </div>
            </div>
        </div>

        {% load static %}
    <div class="main-menu">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="/ABC/index"><img src="{%static 'images/logo1.png'%}" alt="logo" height=63 width=200></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div style="font-size:16px; font-family: 'Montserrat' ,sans-serif" class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="navbar-item active">
                            <a href="/ABC/shop" class="nav-link">Home</a>
                        </li>
                        <li class="navbar-item">
                            <a href="/ABC/myprofile" class="nav-link">MyProfile</a>
                        </li>
                        <li class="navbar-item">
                            <a href="/ABC/index" class="nav-link">Logout</a>
                        </li>
                    </ul>
                    <div class="cart my-2 my-lg-0">
                        <span>
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
                        <span class="quntity">3</span>
                    </div>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search here..." aria-label="Search">
                        <span class="fa fa-search"></span>
                    </form>
                </div>
            </nav>
        </div>
    </div>
</header>
<div class="breadcrumb">
    <div class="container">
        <a class="breadcrumb-item" href="/ABC/shop">Home</a>
        <span class="breadcrumb-item active">MyProfile</span>
    </div>
</div>

<hr>
<div class="container bootstrap snippet">
    <div class="row">
  		<div class="col-sm-10"><h1>{{ user.customerUserName }}</h1></div>
    	</div>
    <div class="row">
  		<div class="col-sm-3"><!--left col-->


      <div class="text-center">
        <!--img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
        <h6>Upload a different photo...</h6>
        <input type="file" class="text-center center-block file-upload"-->
      </div></hr><br>

          <ul class="list-group">
            <li class="list-group-item text-muted">User Details <i class="fa fa-male"></i></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Name</strong></span>{{ user.customerName }}</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>UserName</strong></span>{{ user.customerUserName }}</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>EmailID</strong></span>{{ user.customerEmailID }}</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>MobileNumber</strong></span>{{ usercontact.customerPhone }}</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Address</strong></span>{{ usercontact.customerAddress }}</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Pincode</strong></span>{{ usercontact.customerPincode }}</li>
          </ul>

          <div class="panel panel-default">
            <div class="panel-heading">OnlineABC.com</div>
          </div>

        </div><!--/col-3-->
    	<div class="col-sm-9">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#editprofile">Edit Profile</a></li>
                <li><a data-toggle="tab" href="#editaddress">Edit Address</a></li>
                <li><a data-toggle="tab" href="#mycards">My Cards</a></li>
                <li><a data-toggle="tab" href="#cardDetails">Add Card</a></li>
              </ul>


          <div class="tab-content">
            <div class="tab-pane active" id="editprofile">
                <hr>
                  <form class="form" method="post" id="registrationForm">
                        {% csrf_token %}
                      <div class="form-group">

                          <div class="col-xs-6">
                              <label for="name"><h4>Name</h4></label>
                              <input type="text" class="form-control" name="customerName" id="customerName" placeholder="Name" title="enter your Name." pattern="^[a-zA-Z]+$">
                          </div>
                      </div>
                      <div class="form-group">

                          <div class="col-xs-6">
                            <label for="username"><h4>UserName</h4></label>
                              <input type="text" class="form-control" name="customerUserName" id="customerUserName" placeholder="UserName" title="enter a user name" pattern="^[a-zA-Z_0-9]+$">
                          </div>
                      </div>

                      <div class="form-group">

                          <div class="col-xs-6">
                              <label for="password"><h4>Password</h4></label>
                              <input type="password" class="form-control" name="password" id="password" placeholder="password" title="enter your password.">
                          </div>
                      </div>

                      <div class="form-group">

                          <div class="col-xs-6">
                              <label for="phone"><h4>Phone</h4></label>
                              <input type="text" class="form-control" name="customerPhone" id="customerPhone" placeholder="enter phone" title="enter valid 10 digit number" pattern="^[6-9]\d{9}$" >
                          </div>
                      </div>

                      <div class="form-group">
                           <div class="col-xs-12">
                                <br>
                              	<button class="btn btn-lg btn-success" type="submit" name="updateCustomerDetails"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                               	<button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
                                {%if messages%}
                                </br>
                                <div class="w3-container w3-grey">
                                      <h2>
                                                {%for message in messages%}
                                                        <h6 align='center'> <i class="fa fa-warning" style="font-size:24px"></i> {{message}}</h6>
                                                {% endfor %}
                                                    </h2>
                                </div>
                                {% endif %}
                            </div>
                      </div>
              	</form>

              <hr>

             </div><!--/tab-pane-->
             <div class="tab-pane" id="editaddress">

               <h2></h2>

               <hr>
                  <form class="form" method="post" id="registrationForm">
                    {% csrf_token %}
                    <div class="form-group">

                        <div class="col-xs-6">
                            <label for="Address"><h4>Address</h4></label>
                            <input type="text" class="form-control" name="customerAddress" id="customerAddress" placeholder="enter your address" title="enter your address if any." pattern="^[a-zA-Z0-9 ]+$">
                        </div>
                    </div>

                    <div class="form-group">

                        <div class="col-xs-6">
                            <label for="Pincode"><h4>Pincode</h4></label>
                            <input type="text" class="form-control" name="customerPincode" id="customerPincode" placeholder="enter your pincode" title="enter your pincode if any." pattern="^[0-9]{6}$">
                        </div>
                    </div>
                    <div class="form-group">
                           <div class="col-xs-12">
                                <br>
                              	<button class="btn btn-lg btn-success" type="submit" name="updateCustomerAddress"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                               	<button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
                                {%if messages%}
                                </br>
                                <div class="w3-container w3-grey">
                                      <h2>
                                                {%for message in messages%}
                                                        <h6 align='center'> <i class="fa fa-warning" style="font-size:24px"></i> {{message}}</h6>
                                                {% endfor %}
                                                    </h2>
                                </div>
                                {% endif %}
                            </div>
                      </div>
              	</form>

             </div><!--/tab-pane-->
             <div class="tab-pane" id="mycards">
               <form class="form" method="post" id="registrationForm">
                 {% csrf_token %}
                <table style="width:100%">

                  <tr style="border-bottom:1px solid green">
                    <th>CardName</th>
                    <th>BankName</th>
                    <th>CardNumber</th>
                    <th>Delete</th>
                  </tr>
                  {%for card in cards%}
                  <tr>
                    <form class="form" method="post" id="registrationForm">
                      {% csrf_token %}
                    <th hidden><input type="text" class="form-control" name="cardID" id="cardID" value={{card.id}} placeholder={{card.id}} hidden></th>
                    <th>{{card.cardName}}</th>
                    <th>{{card.bankName}}</th>
                    <th>{{card.cardNumber}}</th>
                    <th><button class="btn btn-lg btn-danger pull-left" type="submit" name="delete_card"><i class="fa fa-trash-o"></i> Delete</button></th>
                  </form>
                  </tr>
                  <br>
                  {% endfor %}
               </table>
             </form>
             </div><!--/tab-pane-->
             <div class="tab-pane" id="cardDetails">


                  <hr>
                  <form class="form" method="post" id="registrationForm">
                     {% csrf_token %}
                     <div class="form-group">

                         <div class="col-xs-6">
                             <label for="bankName"><h4>Bank Name</h4></label>
                             <select class="form-control" name="bankName" id="bankName" required>
                                 <option value="">None</option>
                                 <option value="Allahabad Bank">Allahabad Bank</option>
                                 <option value="Andhra Bank">Andhra Bank</option>
                                 <option value="Axis Bank">Axis Bank</option>
                                 <option value="Bank of Baroda">Bank of Baroda</option>
                                 <option value="Bank of India">Bank of India</option>
                                 <option value="Bank of Maharashtra">Bank of Maharashtra</option>
                                 <option value="Canara Bank">Canara Bank</option>
                                 <option value="Central Bank of India">Central Bank of India</option>
                                 <option value="Corporation Bank">Corporation Bank</option>
                                 <option value="HDFC Bank">HDFC Bank</option>
                                 <option value="ICICI Bank">ICICI Bank</option>
                                 <option value="Punjab National Bank">Punjab National Bank</option>
                                 <option value="State Bank of India">State Bank of India</option>
                                 <option value="Syndicate Bank">Syndicate Bank</option>
                                 <option value="Union Bank of India">Union Bank of India</option>
                                 <option value="Yes Bank">Yes Bank</option>
                                 <option value="IDBI Bank">IDBI Bank</option>
                                 <option value="Other">Other</option>
                             </select>
                           </div>
                     </div>

                      <div class="form-group">

                          <div class="col-xs-6">
                              <label for="cardName"><h4>Owner</h4></label>
                              <input type="text" class="form-control" name="cardName" id="cardName" placeholder="Name on card" title="enter your name" pattern="^[a-zA-Z ]+$" required>
                          </div>
                      </div>
                      <div class="form-group">

                          <div class="col-xs-6">
                            <label for="cardNumber"><h4>Card Number</h4></label>
                              <input type="text" class="form-control" name="cardNumber" id="cardNumber" placeholder="enter card number" title="enter your card number" pattern="^\d{16}$" required>
                          </div>
                      </div>

                      <div class="form-group">

                          <div class="col-xs-6">
                              <label for="cvv"><h4>CVV</h4></label>
                              <input type="text" class="form-control" name="cvv" id="cvv" placeholder="enter cvv" title="enter a valid 3 digit cvv number" pattern="^\d{3}$" required>
                          </div>
                      </div>

                      <div class="form-group">

                          <div class="col-xs-6">
                              <label for="phoneNumber"><h4>Phone</h4></label>
                              <input type="text" class="form-control" name="phoneNumber" id="phoneNumber" placeholder="enter phone" title="enter a valid phone number associated with the bank." pattern="^[6-9]\d{9}$" required>
                              {{ form.errors.phoneNumber }}
                          </div>
                      </div>

                      <div class="form-group">
                        <div class="col-xs-6">
                        <label for="expiryDate"><h4>Expiration Date</h4></label>
                        <select class="form-control" name="month" id="month" required>
                            <option value="">None</option>
                            <option value="01">January</option>
                            <option value="02">February </option>
                            <option value="03">March</option>
                            <option value="04">April</option>
                            <option value="05">May</option>
                            <option value="06">June</option>
                            <option value="07">July</option>
                            <option value="08">August</option>
                            <option value="09">September</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                        </select>
                        <select class="form-control" name="year" id="year" onchange="generateExpiryDate()" required>
                            <option value="">None</option>
                            <option value="18"> 2018</option>
                            <option value="19"> 2019</option>
                            <option value="20"> 2020</option>
                            <option value="21"> 2021</option>
                            <option value="22"> 2022</option>
                            <option value="23"> 2023</option>
                            <option value="24"> 2024</option>
                        </select>
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="col-xs-6">
                            <input type="text" class="form-control" name="expiryDate" id="expiryDate" value="" hidden>
                        </div>
                    </div>
                    <br></br>
                    <div class="form-group" id="credit_cards">
                      <img class="pull-right" src="{%static 'images/visa.jpg'%}">
                      <img class="pull-right" src="{%static 'images/mastercard.jpg'%}">
                      <img class="pull-right" src="{%static 'images/amex.jpg'%}">
                    </div>

                      <div class="form-group">
                           <div class="col-xs-12">
                                <br>
                              	<button class="btn btn-lg btn-success pull-left" type="submit" name="addcardDetails"><i class="glyphicon glyphicon-ok-sign"></i> Add</button>
                               	<button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
                                {%if messages%}
                                </br>
                                <div class="w3-container w3-grey">
                                      <h2>
                                                {%for message in messages%}
                                                        <h6 align='center'> <i class="fa fa-warning" style="font-size:24px"></i> {{message}}</h6>
                                                {% endfor %}
                                                    </h2>
                                </div>
                                {% endif %}
                            </div>
                      </div>
              	</form>

              </div>

              </div><!--/tab-pane-->
          </div><!--/tab-content-->

        </div><!--/col-9-->
    </div><!--/row-->
</html>
