<!DOCTYPE html>
<html lang="en">

<head>
  <title>LoginPage</title>
  <!-- Meta tag Keywords -->
  <meta charset="UTF-8" />
  <!--<meta name="theme-color" content="#03a6f3"-->
  <meta name="keywords" content="Triple Forms Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
  <script>
    addEventListener("load", function () {
      setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
      window.scrollTo(0, 1);
    }

    function myFunction(id) {
        var x = document.getElementById(id);
      if (x.type === "password") {
        x.type = "text";
      } else {
        x.type = "password";
    }
  }
    function displayForm(id) {
        if (id == "op1") {
            document.getElementById("customer").style.display= 'block';
            document.getElementById("customer").style.visibility = 'visible';
            document.getElementById("retailer").style.visibility = 'hidden';
        } else if (id== "op2") {
            document.getElementById("customer").style.visibility = 'hidden';
            document.getElementById("customer").style.display= 'none';
            document.getElementById("retailer").style.visibility = 'visible';
        } else {}
    }


  </script>
    <!-- Meta tag Keywords -->

  <!-- css files -->
  {%load static%}
  <link rel="stylesheet" href="{%static 'ABC/style.css'%}" type="text/css" media="all" />
  <!-- Style-CSS -->
  <link href="{%static 'ABC/font-awesome.min.css'%}" rel="stylesheet">
  <!-- Font-Awesome-Icons-CSS -->
  <!-- //css files -->

  <!-- web-fonts -->
  <link href="//fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext"
   rel="stylesheet">


   <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <!--index.html-->

    <meta charset="UTF-8">
    <title>OnlineABC</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#03a6f3">
    {%load static%}
    <link rel="stylesheet" href="{%static 'ABC/bootstrap.min.css'%}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{%static 'ABC/owl.carousel.min.css'%}">
    <!--<link rel="stylesheet" href="{%static 'ABC/owl.carousel.min.css'%}">-->
    <link rel="stylesheet" href="{%static 'ABC/styles1.css'%}">
    <script type="text/javascript">
       window.history.forward();
	     function noBack() { window.history.forward(); }
    </script>
</head>

<body onload="noBack();"
	onpageshow="if (event.persisted) noBack();" onunload="">
    <header>
        <div class="header-top">
            <div class="container">
                <div class="row">

                </div>
            </div>
        </div>
        <div class="main-menu">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="/ABC/index"><img src="{%static 'images/logo1.png'%}" alt="logo" height=63 width=200></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="navbar-item active">
                                <a href="/ABC/index" class="nav-link">Home</a>
                            </li>
                            <li class="navbar-item">
                                <a href="/ABC/about" class="nav-link">About</a>
                            </li>
                            <li class="navbar-item">
                                <a href="/ABC/faq" class="nav-link">FAQ</a>
                            </li>
                            <li class="navbar-item">
                                <a href="/ABC/TestLogin" class="nav-link">Login</a>
                            </li>
                        </ul>

                    </div>
                </nav>
            </div>
        </div>
    </header>
    <div class="main-bg">
  		<!-- title -->
      <h1> Login </h1>
  		<!-- //title -->

  		<div class="sub-main-w3">
  			<!--<div class="image-style">

  			</div>
  			 vertical tabs -->
  			<div class="vertical-tab">
  				<div id="section1" class="section-w3ls">
  					<input type="radio" name="sections" id="option1" checked>
  					<label for="option1" class="icon-left-w3pvt"><span class="fa fa-user-circle" aria-hidden="true"></span>Login</label>
  					<article>
  						<form action="#" method="post">
  							{%csrf_token%}
  							<h3 class="legend">Login Here</h3>
  							<div class="input">
  								<span class="fa fa-envelope-o" aria-hidden="true"></span>
  								<input type="email" placeholder="Email" name="emailID" required />
  							</div>
  							<div class="input">
  								<span class="fa fa-key" aria-hidden="true"></span>
  								<input type="password" placeholder="Password" name="password" id="myInput" required />
  								<i class="fa fa-eye" onclick="myFunction('myInput')"></i>
  							</div>
  							<button type="submit" class="btn submit" name="loginForm">Login</button>
  							{%if messages%}
  							<br><br>
  							<div class="w3-container w3-grey">
    								<h2>
  											{%for message in messages%}
  													<h6 align='center'> <i class="fa fa-warning" style="font-size:24px"></i> {{message}}</h6>
  											{% endfor %}
  												</h2>
  							</div>
  							{% endif %}
  							<a href="#" class="bottom-text-w3ls">Forgot Password?</a>
  						</form>
  					</article>
  				</div>
  				<div id="section2" class="section-w3ls">
  					<input type="radio" name="sections" id="option2">
  					<label for="option2" class="icon-left-w3pvt"><span class="fa fa-pencil-square" aria-hidden="true"></span>Register</label>
  					<article>
  						<form action="#" method="post">
  							{%csrf_token%}
  							<h3 class="legend">Register Here</h3>
                <div>
                  <button style="position: absolute; width: 50%;" type="button" class="btn btn-primary .btn-md" id="op1" onclick="displayForm('op1')">As a customer</button>
                  <button style="position: relative; left: 70%; width: 50%;" type="button" class="btn btn-primary .btn-md" id="op2" onclick="displayForm('op2')">As a retailer</button>
                <div>
                <div style="visibility: hidden; position:relative" id="customer">
                  <br><br>
  							<div class="input">
  								<span class="fa fa-user-o" aria-hidden="true"></span>
  								<input type="text" placeholder="Name" name="customerName" required />
  							</div>
  							<div class="input">
  								<span class="fa fa-pencil" aria-hidden="true"></span>
  								<input type="text" placeholder="Username" name="customerUserName" required />
  							</div>
  							<div class="input">
  								<span class="fa fa-envelope-o" aria-hidden="true"></span>
  								<input type="email" placeholder="Email" name="customerEmailID" required />
  							</div>
  							<!--div class="input">
  								<span class="fa fa-phone" aria-hidden="true"></span>
  								<input type="text" placeholder="MobileNumber" name="mobileNo" required />
  							</div-->
                <div class="input">
  					<span class="fa fa-key" aria-hidden="true"></span>
  					<input type="password" placeholder="Password" name="password" id="ps" required>
                  	<i class="fa fa-eye" onclick="myFunction('ps')"></i>
  				</div>
  					<button type="submit" class="btn submit" name="customerRegistrationForm">Register</button>
  					{%if messages%}
  					<br><br>
  					<div class="w3-container w3-grey">
    				<h2>
  					    {%for message in messages%}
  					    <h6 align='center'> <i class="fa fa-warning" style="font-size:24px"></i> {{message}}</h6>
  					{% endfor %}
  					</h2>
  					</div>
  					{% endif %}
            </div>
          </form>
          <form action="#" method="post">
              {%csrf_token%}
            <div style="visibility: hidden; position:relative" id="retailer">
              <br>
            <div class="input">
              <span class="fa fa-user-o" aria-hidden="true"></span>
              <input type="text" placeholder="Shop ID" name="shopID" required />
            </div>
            <div class="input">
              <span class="fa fa-pencil" aria-hidden="true"></span>
              <input type="text" placeholder="Shop Name" name="shopName" required />
            </div>
            <div class="input">
              <span class="fa fa-envelope-o" aria-hidden="true"></span>
              <input type="email" placeholder="Email" name="retailerEmailID" required />
            </div>
            <!--div class="input">
              <span class="fa fa-phone" aria-hidden="true"></span>
              <input type="text" placeholder="MobileNumber" name="mobileNo" required />
            </div-->
            <div class="input">
              <span class="fa fa-phone" aria-hidden="true"></span>
              <input type="text" placeholder="MobileNumber" name="retailerPriPhone" required />
            </div>
            <div class="input">
              <span class="fa fa-key" aria-hidden="true"></span>
              <input type="password" placeholder="Password" name="retailerPassword" id="ps" required>
                <i class="fa fa-eye" onclick="myFunction('ps')"></i>
            </div>
            <button type="submit" class="btn submit" name="retailerRegistrationForm">Register</button>
            {%if messages%}
            <br><br>
            <div class="w3-container w3-grey">
                <h2>
                    {%for message in messages%}
                        <h6 align='center'> <i class="fa fa-warning" style="font-size:24px"></i> {{message}}</h6>
                    {% endfor %}
                </h2>
            </div>
            {% endif %}
        </div>
  		 </form>
  		</article>
  				</div>
  				<div id="section3" class="section-w3ls">
  					<input type="radio" name="sections" id="option3">
  					<label for="option3" class="icon-left-w3pvt"><span class="fa fa-lock" aria-hidden="true"></span>Forgot Password?</label>
  					<article>
  						<form action="#" method="post">
                {% csrf_token %}
  							<h3 class="legend last">Reset Password</h3>
  							<p class="para-style">Enter your email address below and we'll send you an email with instructions.</p>
  							<!--<p class="para-style-2"><strong>Need Help?</strong> Learn more about how to <a href="#">retrieve an existing
  									account.</a></p>-->
  							<div class="input">
  								<span class="fa fa-envelope-o" aria-hidden="true"></span>
  								<input type="email" placeholder="Email" name="email" required />
  							</div>
  							<button type="submit" class="btn submit last-btn" name="resetPasswordForm">Reset</button>
  						</form>
  					</article>
  				</div>
  			</div>
  			<!-- //vertical tabs -->
  			<div class="clear"></div>
  		</div>
  	</div>
    <footer>

        <div class="copy-right">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h5>(C) 2019. All Rights Reserved. OnlineABC.com</h5>
                    </div>
                    <div class="col-md-6">
                        <div class="share align-middle">
                            <span class="fb"><i class="fa fa-facebook-official"></i></span>
                            <span class="instagram"><i class="fa fa-instagram"></i></span>
                            <span class="twitter"><i class="fa fa-twitter"></i></span>
                            <span class="pinterest"><i class="fa fa-pinterest"></i></span>
                            <span class="google"><i class="fa fa-google-plus"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script>
  export default {
    data() {
      return {
        selected: 'radio1',
        options: [
          { text: 'Radio 1', value: 'radio1' },
          { text: 'Radio 3', value: 'radio2' }
        ]
      }
    }
  }
</script>
    {%load static%}
    <script src="{%static 'js/jquery.min.js'%}"></script>
    <script src="{%static 'js/bootstrap.min.js'%}"></script>
    <script type="text/javascript" src="{%static 'js/owl.carousel.min.js'%}"></script>
    <script src="{%static 'js/custom.js'%}"></script>
</body>

</html>
